# Node.js / npm
node_modules/

# React build output
build/

# ASP.NET build output
obj/
bin/
*.dll
*.exe
*.pdb
*.user
*.vscode
*.vs/
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.msi
*.xap
*.swp
*.suo
*.tmp
*.user
*.log
*.pidb
*.pidb.meta

# Visual Studio Code - автосоздаваемые файлы и папки
.vscode/

# JetBrains Rider - автосоздаваемые файлы и папки
.idea/
*.sln.iml

# Типичные файлы с настройками среды разработки
*.suo
*.user
*.sln.docstates

# Отладочные логи
*.log
logs/

# Метаданные файлов и папок
Thumbs.db
Desktop.ini

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Visual Studio files
.vs/